@model LB.Models.Clients.ClientsPreDisseny

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClientsPreDisseny</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ipredis" />
            <div class="form-group">
                <label asp-for="ptheme" class="control-label"></label>
                <input asp-for="ptheme" class="form-control" />
                <span asp-validation-for="ptheme" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="envcli" /> @Html.DisplayNameFor(model => model.envcli)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="themebuy" /> @Html.DisplayNameFor(model => model.themebuy)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="pctheme" class="control-label"></label>
                <input asp-for="pctheme" class="form-control" />
                <span asp-validation-for="pctheme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bouby" class="control-label"></label>
                <input asp-for="bouby" class="form-control" />
                <span asp-validation-for="bouby" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="paid" /> @Html.DisplayNameFor(model => model.paid)
                </label>
            </div>
            @*<div class="form-group">
                <label asp-for="cusualt" class="control-label"></label>
                <input asp-for="cusualt" class="form-control" />
                <span asp-validation-for="cusualt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="faltrto" class="control-label"></label>
                <input asp-for="faltrto" class="form-control" />
                <span asp-validation-for="faltrto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cusumod" class="control-label"></label>
                <input asp-for="cusumod" class="form-control" />
                <span asp-validation-for="cusumod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fmod" class="control-label"></label>
                <input asp-for="fmod" class="form-control" />
                <span asp-validation-for="fmod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hmod" class="control-label"></label>
                <input asp-for="hmod" class="form-control" />
                <span asp-validation-for="hmod" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
