@model LB.Models.Clients.ClientsFtp

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClientsFtp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="iftp" />
            <div class="form-group">
                <label asp-for="userftp" class="control-label"></label>
                <input asp-for="userftp" class="form-control" />
                <span asp-validation-for="userftp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="passftp" class="control-label"></label>
                <input asp-for="passftp" class="form-control" />
                <span asp-validation-for="passftp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ipserver" class="control-label"></label>
                <input asp-for="ipserver" class="form-control" />
                <span asp-validation-for="ipserver" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="cusualt" class="control-label"></label>
                <input asp-for="cusualt" class="form-control" />
                <span asp-validation-for="cusualt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="faltrto" class="control-label"></label>
                <input asp-for="faltrto" class="form-control" />
                <span asp-validation-for="faltrto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cusumod" class="control-label"></label>
                <input asp-for="cusumod" class="form-control" />
                <span asp-validation-for="cusumod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fmod" class="control-label"></label>
                <input asp-for="fmod" class="form-control" />
                <span asp-validation-for="fmod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hmod" class="control-label"></label>
                <input asp-for="hmod" class="form-control" />
                <span asp-validation-for="hmod" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
