@model LB.Models.Clients.ClientsLB

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClientsLB</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="icli" />
            @*<div class="form-group">
                <label asp-for="ihos" class="control-label"></label>
                <select asp-for="ihos" class="form-control" asp-items="ViewBag.ihos"></select>
                <span asp-validation-for="ihos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iftp" class="control-label"></label>
                <select asp-for="iftp" class="form-control" asp-items="ViewBag.iftp"></select>
                <span asp-validation-for="iftp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ipredis" class="control-label"></label>
                <select asp-for="ipredis" class="form-control" asp-items="ViewBag.ipredis"></select>
                <span asp-validation-for="ipredis" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="dnom" class="control-label"></label>
                <input asp-for="dnom" class="form-control" />
                <span asp-validation-for="dnom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dnommail" class="control-label"></label>
                <input asp-for="dnommail" class="form-control" />
                <span asp-validation-for="dnommail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="est" class="control-label"></label>
                <select asp-for="est" class="form-control">
                    <option value=""></option>
                    <option value="Pressupostat">Pressupostat</option>
                    <option value="Predisseny">Predisseny</option>
                    <option value="Desenvolupament">Desenvolupament</option>
                    <option value="Mostrada">Mostrada</option>
                    <option value="Entregada">Entregada</option>
                    <option value="RespostaClient">RespostaClient</option>
                </select>
                <span asp-validation-for="est" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dobs" class="control-label"></label>
                <input asp-for="dobs" class="form-control" />
                <span asp-validation-for="dobs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tcli" class="control-label"></label>
                <input asp-for="tcli" class="form-control" />
                <span asp-validation-for="tcli" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="cusualt" class="control-label"></label>
                <input asp-for="cusualt" class="form-control" />
                <span asp-validation-for="cusualt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="faltrto" class="control-label"></label>
                <input asp-for="faltrto" class="form-control" />
                <span asp-validation-for="faltrto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cusumod" class="control-label"></label>
                <input asp-for="cusumod" class="form-control" />
                <span asp-validation-for="cusumod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fmod" class="control-label"></label>
                <input asp-for="fmod" class="form-control" />
                <span asp-validation-for="fmod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hmod" class="control-label"></label>
                <input asp-for="hmod" class="form-control" />
                <span asp-validation-for="hmod" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
