@model LB.Models.Clients.ClientsAcces

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ClientsAcces</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userWp" class="control-label"></label>
                <input asp-for="userWp" class="form-control" />
                <span asp-validation-for="userWp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="passWd" class="control-label"></label>
                <input asp-for="passWd" class="form-control" />
                <span asp-validation-for="passWd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="linkWp" class="control-label"></label>
                <input asp-for="linkWp" class="form-control" />
                <span asp-validation-for="linkWp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="acc" class="control-label"></label>
                <input asp-for="acc" class="form-control" />
                <span asp-validation-for="acc" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="cusualt" class="control-label"></label>
                <input asp-for="cusualt" class="form-control" />
                <span asp-validation-for="cusualt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="faltrto" class="control-label"></label>
                <input asp-for="faltrto" class="form-control" />
                <span asp-validation-for="faltrto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cusumod" class="control-label"></label>
                <input asp-for="cusumod" class="form-control" />
                <span asp-validation-for="cusumod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fmod" class="control-label"></label>
                <input asp-for="fmod" class="form-control" />
                <span asp-validation-for="fmod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hmod" class="control-label"></label>
                <input asp-for="hmod" class="form-control" />
                <span asp-validation-for="hmod" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Tornar a la llista</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
