@model LB.Models.Clients.ClientHosting

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CliHos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userhos" class="control-label"></label>
                <input asp-for="userhos" class="form-control" />
                <span asp-validation-for="userhos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="passhos" class="control-label"></label>
                <input asp-for="passhos" class="form-control" />
                <span asp-validation-for="passhos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="linkwphos" class="control-label"></label>
                <input asp-for="linkwphos" class="form-control" />
                <span asp-validation-for="linkwphos" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="cusualt" class="control-label"></label>
                <input asp-for="cusualt" class="form-control" />
                <span asp-validation-for="cusualt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="faltrto" class="control-label"></label>
                <input asp-for="faltrto" class="form-control" />
                <span asp-validation-for="faltrto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cusumod" class="control-label"></label>
                <input asp-for="cusumod" class="form-control" />
                <span asp-validation-for="cusumod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fmod" class="control-label"></label>
                <input asp-for="fmod" class="form-control" />
                <span asp-validation-for="fmod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hmod" class="control-label"></label>
                <input asp-for="hmod" class="form-control" />
                <span asp-validation-for="hmod" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
